USE [master]
GO
/****** Object:  Database [RESERVAS_ULACIT]    Script Date: 2/3/2021 12:50:53 ******/
CREATE DATABASE [RESERVAS_ULACIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESERVAS_ULACIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV\MSSQL\DATA\RESERVAS_ULACIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESERVAS_ULACIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLDEV\MSSQL\DATA\RESERVAS_ULACIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESERVAS_ULACIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESERVAS_ULACIT]
GO
/****** Object:  Table [dbo].[AEROPUERTO]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AEROPUERTO](
	[AERO_ID] [int] IDENTITY(1,1) NOT NULL,
	[AERO_NOMBRE] [varchar](50) NOT NULL,
	[AERO_PAIS] [varchar](20) NOT NULL,
	[AERO_CIUDAD] [varchar](20) NOT NULL,
	[AERO_TIPO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AEROPUERTO] PRIMARY KEY CLUSTERED 
(
	[AERO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALQUILER]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQUILER](
	[ALQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[USU_CODIGO] [int] NOT NULL,
	[VEH_ID] [int] NOT NULL,
	[PAGO_ID] [int] NOT NULL,
	[ALQ_FECHA_ENTREGA] [datetime] NOT NULL,
	[ALQ_FECHA_ALQUILER] [datetime] NOT NULL,
	[ALQ_PRECIOXHORA] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_ALQUILER] PRIMARY KEY CLUSTERED 
(
	[ALQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVION]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVION](
	[AV_ID] [int] IDENTITY(1,1) NOT NULL,
	[AERO_ID] [int] NOT NULL,
	[AV_CAPACIDAD_TOTAL] [int] NOT NULL,
	[AV_MARCA] [varchar](20) NOT NULL,
	[AV_TIPO_AVION] [varchar](20) NOT NULL,
	[AV_MODELO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AVION] PRIMARY KEY CLUSTERED 
(
	[AV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOLETO]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLETO](
	[BOL_ID] [int] IDENTITY(1,1) NOT NULL,
	[USU_CODIGO] [int] NOT NULL,
	[VUE_ID] [int] NOT NULL,
	[PAGO_ID] [int] NOT NULL,
	[BOL_FEC_IDA] [date] NOT NULL,
	[BOL_FEC_VUELTA] [date] NOT NULL,
	[BOL_PRECIO] [numeric](18, 2) NOT NULL,
	[BOL_ASIENTO] [varchar](5) NOT NULL,
	[BOL_TERMINAL] [varchar](5) NOT NULL,
 CONSTRAINT [PK_BOLETO] PRIMARY KEY CLUSTERED 
(
	[BOL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HABITACION]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HABITACION](
	[HAB_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[HOT_CODIGO] [int] NOT NULL,
	[HAB_NUMERO] [int] NOT NULL,
	[HAB_CAPACIDAD] [int] NOT NULL,
	[HAB_TIPO] [varchar](10) NOT NULL,
	[HAB_DESCRIPCION] [varchar](50) NOT NULL,
	[HAB_ESTADO] [varchar](1) NOT NULL,
	[HAB_PRECIO] [numeric](18, 2) NOT NULL,
 CONSTRAINT [PK_HABITACION] PRIMARY KEY CLUSTERED 
(
	[HAB_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[HOT_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[HOT_NOMBRE] [varchar](20) NOT NULL,
	[HOT_EMAIL] [varchar](50) NOT NULL,
	[HOT_DIRECCION] [varchar](20) NOT NULL,
	[HOT_TELEFONO] [varchar](20) NOT NULL,
	[HOT_CATEGORIA] [varchar](1) NOT NULL,
 CONSTRAINT [PK_HOTEL] PRIMARY KEY CLUSTERED 
(
	[HOT_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[PAGO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAGO_FECHA] [datetime] NOT NULL,
	[PAGO_TOTAL] [numeric](18, 2) NOT NULL,
	[PAGO_ESTADO] [varchar](1) NOT NULL,
	[PAGO_DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_PAGO] PRIMARY KEY CLUSTERED 
(
	[PAGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[RES_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[USU_CODIGO] [int] NOT NULL,
	[HAB_CODIGO] [int] NOT NULL,
	[RES_FECHA_INGRESO] [datetime] NOT NULL,
	[RES_FECHA_SALIDA] [datetime] NOT NULL,
 CONSTRAINT [PK_RESERVA] PRIMARY KEY CLUSTERED 
(
	[RES_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[SUC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_NOMBRE] [varchar](50) NOT NULL,
	[SUB_UBICACION] [varchar](50) NOT NULL,
	[SUC_CORREO] [varchar](20) NOT NULL,
	[SUC_TELEFONO] [int] NOT NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[SUC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USU_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[USU_IDENTIFICACION] [varchar](20) NOT NULL,
	[USU_NOMBRE] [varchar](50) NOT NULL,
	[USU_PASSWORD] [varchar](50) NOT NULL,
	[USU_EMAIL] [varchar](50) NOT NULL,
	[USU_ESTADO] [varchar](1) NOT NULL,
	[USU_FEC_NAC] [datetime] NOT NULL,
	[USU_TELEFONO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USU_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULO]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULO](
	[VEH_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NOT NULL,
	[VEH_PLACA] [varchar](10) NOT NULL,
	[VEH_MARCA] [varchar](20) NOT NULL,
	[VEH_MODELO] [varchar](20) NOT NULL,
	[VEH_ESTADO] [varchar](50) NOT NULL,
	[VEH_TIPO] [varchar](15) NOT NULL,
	[VEH_TRACCION] [varchar](10) NOT NULL,
	[VEH_CANT_PASAJEROS] [int] NOT NULL,
	[VEH_TRANSMISION] [varchar](10) NOT NULL,
 CONSTRAINT [PK_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[VEH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VUELO]    Script Date: 2/3/2021 12:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUELO](
	[VUE_ID] [int] IDENTITY(1,1) NOT NULL,
	[AV_ID] [int] NOT NULL,
	[VUE_ORIGEN] [varchar](20) NOT NULL,
	[VUE_DESTINO] [varchar](20) NOT NULL,
	[VUE_CANT_PASAJEROS] [int] NOT NULL,
 CONSTRAINT [PK_VUELO] PRIMARY KEY CLUSTERED 
(
	[VUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALQUILER]  WITH CHECK ADD  CONSTRAINT [FK_ALQUILER_PAGO] FOREIGN KEY([PAGO_ID])
REFERENCES [dbo].[PAGO] ([PAGO_ID])
GO
ALTER TABLE [dbo].[ALQUILER] CHECK CONSTRAINT [FK_ALQUILER_PAGO]
GO
ALTER TABLE [dbo].[ALQUILER]  WITH CHECK ADD  CONSTRAINT [FK_ALQUILER_USUARIO] FOREIGN KEY([USU_CODIGO])
REFERENCES [dbo].[USUARIO] ([USU_CODIGO])
GO
ALTER TABLE [dbo].[ALQUILER] CHECK CONSTRAINT [FK_ALQUILER_USUARIO]
GO
ALTER TABLE [dbo].[ALQUILER]  WITH CHECK ADD  CONSTRAINT [FK_ALQUILER_VEHICULO] FOREIGN KEY([VEH_ID])
REFERENCES [dbo].[VEHICULO] ([VEH_ID])
GO
ALTER TABLE [dbo].[ALQUILER] CHECK CONSTRAINT [FK_ALQUILER_VEHICULO]
GO
ALTER TABLE [dbo].[AVION]  WITH CHECK ADD  CONSTRAINT [FK_AVION_AEROPUERTO] FOREIGN KEY([AERO_ID])
REFERENCES [dbo].[AEROPUERTO] ([AERO_ID])
GO
ALTER TABLE [dbo].[AVION] CHECK CONSTRAINT [FK_AVION_AEROPUERTO]
GO
ALTER TABLE [dbo].[BOLETO]  WITH CHECK ADD  CONSTRAINT [FK_BOLETO_PAGO] FOREIGN KEY([PAGO_ID])
REFERENCES [dbo].[PAGO] ([PAGO_ID])
GO
ALTER TABLE [dbo].[BOLETO] CHECK CONSTRAINT [FK_BOLETO_PAGO]
GO
ALTER TABLE [dbo].[BOLETO]  WITH CHECK ADD  CONSTRAINT [FK_BOLETO_USUARIO] FOREIGN KEY([USU_CODIGO])
REFERENCES [dbo].[USUARIO] ([USU_CODIGO])
GO
ALTER TABLE [dbo].[BOLETO] CHECK CONSTRAINT [FK_BOLETO_USUARIO]
GO
ALTER TABLE [dbo].[BOLETO]  WITH CHECK ADD  CONSTRAINT [FK_BOLETO_VUELO] FOREIGN KEY([VUE_ID])
REFERENCES [dbo].[VUELO] ([VUE_ID])
GO
ALTER TABLE [dbo].[BOLETO] CHECK CONSTRAINT [FK_BOLETO_VUELO]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_HOTEL] FOREIGN KEY([HOT_CODIGO])
REFERENCES [dbo].[HOTEL] ([HOT_CODIGO])
GO
ALTER TABLE [dbo].[HABITACION] CHECK CONSTRAINT [FK_HABITACION_HOTEL]
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD  CONSTRAINT [FK_RESERVA_HABITACION] FOREIGN KEY([HAB_CODIGO])
REFERENCES [dbo].[HABITACION] ([HAB_CODIGO])
GO
ALTER TABLE [dbo].[RESERVA] CHECK CONSTRAINT [FK_RESERVA_HABITACION]
GO
ALTER TABLE [dbo].[RESERVA]  WITH CHECK ADD  CONSTRAINT [FK_RESERVA_USUARIO] FOREIGN KEY([USU_CODIGO])
REFERENCES [dbo].[USUARIO] ([USU_CODIGO])
GO
ALTER TABLE [dbo].[RESERVA] CHECK CONSTRAINT [FK_RESERVA_USUARIO]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_SUCURSAL] FOREIGN KEY([SUC_ID])
REFERENCES [dbo].[SUCURSAL] ([SUC_ID])
GO
ALTER TABLE [dbo].[VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_SUCURSAL]
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD  CONSTRAINT [FK_VUELO_AVION] FOREIGN KEY([AV_ID])
REFERENCES [dbo].[AVION] ([AV_ID])
GO
ALTER TABLE [dbo].[VUELO] CHECK CONSTRAINT [FK_VUELO_AVION]
GO
USE [master]
GO
